.switch label input[type="checkbox"]:checked + .lever {
    background-color: #a5d6a7;
}

.switch label input[type="checkbox"]:checked + .lever::after {
    background-color: #388e3c;
}

.question{
	font-size: 120%;
}

.acceptBlock{
	margin-bottom: 3%;
}