<h2 class="center">Rgpd</h2>
<p class="center intro">Un bref récapitulatif de vos droits en matière de rgpd.</p>
<div class="container">
<h4>Droit d’être informé</h4>

Les organisations doivent informer les individus concernant les données qui sont collectée, comment elles sont utilisées, combien de temps elles sont conserves et si elles seront ou non partagées avec des tierces parties. Ces informations doivent être communiquées de manière concise et dans un langage clair.

 
<h4>Droit d’accès</h4>

Les personnes concernées peuvent soumettre une demande d’accès, obligeant les organisations à leur fournir une copie de toutes les données qu’ils détiennent à leur sujet. Les organisations ont un mois pour fournir ces informations, bien qu’il y ait des exceptions pour les demandes étant manifestement infondées, répétitives ou excessives.

 
<h4>Droit de rectification</h4>

Si un individu découvre que les informations détenues à son sujet par une organisations sont inexactes ou incomplètes, il peut demander à ce qu’elles soient mises à jour. Comme pour le droit d’accès, les organisations ont un mois pour s’y conformer, et les mêmes exceptions s’appliquent.

 
<h4>Droit à l’effacement</h4>

Dans certains cas, les individus peuvent demander à ce que les organisations suppriment leurs données. Par exemple lorsque les données ne sont plus nécessaires, lorsque les données sont traitées de manière illégitimes ou lorsqu’elles ne sont plus nécessaires aux fins pour lesquelles elles ont été collectées. Cela comprend les cas où les personnes concernées retirent leur consentement.

Le droit à l’effacement est également connu sous le nom de droit à l’oubli.

 
<h4>Droit à la limitation du traitement</h4>

Les individus peuvent demander aux organisations de limiter l’utilisation de leurs données personnelles. Il s’agit d’une alternative au droit d’effacement et peut être utile lorsqu’un individu conteste l’exactitude de leurs données personnelles ou lorsque les informations ne sont plus utiles mais que les organisations en ont besoin pour établir, exercer ou défendre une revendication légale.

 
<h4>Droit à la portabilité des données</h4>

Les individus peuvent obtenir et réutiliser leurs données personnelles à leurs propres fins et pour différents services. Ce droit ne s’applique qu’aux données personnelles qu’un individu a fourni aux responsables du traitement via un contrat ou son consentement.

 
<h4>Droit d’opposition</h4>

Les individus peuvent s’opposer au traitement des données personnelles collectées sur la base de l’intérêt légitime ou de l’exécution d’une tâche d’intérêt public ou relevant de l’exercice d’une autorité publique.

Les organisations doivent arrêter de traiter des informations à moins de pouvoir avoir des raisons légitimes sérieuses au traitement, surpassant les intérêts, droits et libertés des individus ou si le traitement a pour but la mise en place ou l’exercice de la défense en cas de revendications juridiques.

 
<h4>Droits liés à la prise de décision automatisée y compris le profilage</h4>

Le RGPD comprend les dispositions concernant les décisions prises sans participation humaine, tel que le profilage, utilisant les données personnelles afin de faire des hypothèses calculées concernant les individus. Il y a des règles strictes concernant le type de traitement, et les individus peuvent contester et demander une révision du traitement s’ils croient que les règles ne sont pas suivies.
</div>